services:
  invoicewolf-database:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: invoicewolf-data
    volumes:
      - ./databases/postgresql-data:/var/lib/postgresql/data
    ports:
      - '127.0.0.1:5435:5432'

  invoicewolf-logs:
    image: elasticsearch:8.14.3
    container_name: invoicewolf-logs
    ports:
      - "0.0.0.0:9200:9200"
      - "127.0.0.1:9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=${LOGS_PASSWORD}
    volumes:
      - ./databases/elasticsearch-data:/usr/share/elasticsearch/data

  invoicewolf-backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    env_file: ./.env.docker
    container_name: invoicewolf-backend
    volumes:
      - ./backend-data:/usr/backend-data
    ports:
      - '0.0.0.0:${API_HTTP_PORT}:80'
      - '0.0.0.0:${API_HTTPS_PORT}:443'
    links:
      - invoicewolf-database
      - invoicewolf-logs